# LISTA 11 - PANDAS

Ejercicios de Irune Guinea üöÄ

## <ins>Ejercicios Obligatorios </ins>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

## EJERCICIO 1

Crea un dataframe con 15 filas y 2 columnas. La primera columna se llamar√° x, la segunda y. Cada entrada ser√° un n√∫mero aleatorio (puedes usar random.normal() de la librer√≠a numpy). Guarda el dataframe en una variable llamada points.

In [3]:
import random
# defino las columnas
x = []
y = []
# quiero 15 filas 
for i in range (15):
    # a cada uno le a√±ado un entero random 
    x.append(random.randint(0, 100))
    y.append(random.randint(-50, 50)) # as√≠ le a√±ado negativos tambi√©n :)
# asigno las variables a las columnas
data = {"x": x, "y": y}
# Guardar el dataframe en points con los datos de las columnas
points = pd.DataFrame(data = data)
print(points)

     x   y
0   87  27
1   29   6
2    2   9
3   49  13
4   23 -42
5   25 -39
6    0 -20
7    4 -37
8   57  48
9    9  -9
10  19 -23
11  39  15
12  90  11
13  33  43
14  99   5

## EJERCICIO 2

Del dataframe points, muestra las filas cuyo valor en la columna x sea positivo.

In [5]:
# iterar sobre los valores de x
for i in points['x']:
  # comprobar si es positivo, cuento 0 como positivo :)
  if(i >=0):
    print (i)

87
29
2
49
23
25
0
4
57
9
19
39
90
33
99

## EJERCICIO 3

Del dataframe points, muestra las filas cuyo valor en la columna y sea negativo.

In [4]:
# lo mismo pero en este caso itero sobre los valores de y
for i in points['y']:
  #si es negativo lo imprimo
  if(i < 0):
    print (i)

-13
-5
-19
-11
-39

## EJERCICIO 4

:Del dataframe points, muestra las observaciones cuyos puntos (x, y) pertenezcan al primer cuadrante.

In [6]:
# El primer cuadrante los dos son positivos
# asi que selecciono de points los valores en los que
# los dos valores de las columnas sean positivos
primer_cuadrante = points[(points['x'] >= 0) & (points['y'] >= 0)]

print(primer_cuadrante)

     x   y
0   87  27
1   29   6
2    2   9
3   49  13
8   57  48
11  39  15
12  90  11
13  33  43
14  99   5

## EJERCICIO 5

Del dataframe points, muestra las observaciones de la forma: ‚ÄúEl punto ({x}, {y}) {no/s√≠} pertenece al primer cuadrante‚Äù.

In [7]:
# iterrows devuelve index y data, asi que recojo las filas
for i, fila in points.iterrows():
    # separo los valores de la fila en columnas
    x, y = fila['x'], fila['y']
    # compruebo si son los dos positivos, entonces son del primer cuadrante
    if fila['x'] >= 0 and fila['y'] >= 0:
        mensaje = f"El punto ({x}, {y}) s√≠ pertenece al primer cuadrante."
    else:
        mensaje = f"El punto ({x}, {y}) no pertenece al primer cuadrante."
    print(mensaje)

El punto (87, 27) s√≠ pertenece al primer cuadrante.
El punto (29, 6) s√≠ pertenece al primer cuadrante.
El punto (2, 9) s√≠ pertenece al primer cuadrante.
El punto (49, 13) s√≠ pertenece al primer cuadrante.
El punto (23, -42) no pertenece al primer cuadrante.
El punto (25, -39) no pertenece al primer cuadrante.
El punto (0, -20) no pertenece al primer cuadrante.
El punto (4, -37) no pertenece al primer cuadrante.
El punto (57, 48) s√≠ pertenece al primer cuadrante.
El punto (9, -9) no pertenece al primer cuadrante.
El punto (19, -23) no pertenece al primer cuadrante.
El punto (39, 15) s√≠ pertenece al primer cuadrante.
El punto (90, 11) s√≠ pertenece al primer cuadrante.
El punto (33, 43) s√≠ pertenece al primer cuadrante.
El punto (99, 5) s√≠ pertenece al primer cuadrante.

## EJERCICIO 6

Crea un dataframe con 10 filas y 4 columnas. La primera columna se llamar√° word; la segunda, length; la tercera, vowels; y la √∫ltima, consonants. La columna words contendr√° las siguientes 10 palabras: ‚Äúeuro‚Äù, ‚Äúdiez‚Äù ‚Äúalgas‚Äù, ‚Äúbroma‚Äù, ‚Äúcicuta‚Äù, ‚Äúfatiga‚Äù, ‚Äúnachos‚Äù, ‚Äújadeos‚Äù, ‚Äúhaza√±as‚Äù, ‚Äúboutique‚Äù. Las columnas length, vowels y consonants contendr√°n, respectivamente, la longitud, el total de vocales y el total de consonantes (a√±ade las columnas calculando su valor por c√≥digo). Guarda el dataframe en la variable words.

In [8]:
# Defino la columna words
palabras = ["euro", "diez", "algas", "broma", "cicuta", "fatiga", "nachos", "jadeos", "haza√±as", "boutique"]

# Defino el DataFrame
words = pd.DataFrame({
    'word': palabras, # columna words
    'length': [len(palabra) for palabra in palabras], # columna length con la longitud de cada palabra
    'vowels': [sum(1 for letra in palabra if letra in 'aeiouAEIOU') for palabra in palabras], # en vowels el n√∫mero de vocales, ojo con que a y A no es lo mismo (parecido hecho en lista Numpy)
    'consonants': [len(palabra) - sum(1 for letra in palabra.lower() if letra in 'aeiou') for palabra in palabras] # el numero de consonantes, le resto a la longitud el numero de vocales
})
print (words)

       word  length  vowels  consonants
0      euro       4       3           1
1      diez       4       2           2
2     algas       5       2           3
3     broma       5       2           3
4    cicuta       6       3           3
5    fatiga       6       3           3
6    nachos       6       2           4
7    jadeos       6       3           3
8   haza√±as       7       3           4
9  boutique       8       5           3

## EJERCICIO 7

Muestra las 10 observaciones de words con el formato ‚ÄúLa palabra {word} tiene {length} letras, de las cuales {vowels} son vocales y {consonants} consonantes‚Äù.

In [9]:

# iterrows me devuelve el indice y data, as√≠ itero sobre las filas
for i, fila in words.iterrows():
    # imprimo llamando a cada columna por su nombre
    print(f"La palabra {fila['word']} tiene {fila['length']} letras, de las cuales {fila['vowels']} son vocales y {fila['consonants']} consonantes.")

La palabra euro tiene 4 letras, de las cuales 3 son vocales y 1 consonantes.
La palabra diez tiene 4 letras, de las cuales 2 son vocales y 2 consonantes.
La palabra algas tiene 5 letras, de las cuales 2 son vocales y 3 consonantes.
La palabra broma tiene 5 letras, de las cuales 2 son vocales y 3 consonantes.
La palabra cicuta tiene 6 letras, de las cuales 3 son vocales y 3 consonantes.
La palabra fatiga tiene 6 letras, de las cuales 3 son vocales y 3 consonantes.
La palabra nachos tiene 6 letras, de las cuales 2 son vocales y 4 consonantes.
La palabra jadeos tiene 6 letras, de las cuales 3 son vocales y 3 consonantes.
La palabra haza√±as tiene 7 letras, de las cuales 3 son vocales y 4 consonantes.
La palabra boutique tiene 8 letras, de las cuales 5 son vocales y 3 consonantes.

## EJERCICIO 8

Muestra aquellas observaciones de words que tienen el mismo n√∫mero de vocales y consonantes.

In [9]:
# vuelvo a iterar por filas
for i, fila in words.iterrows():
    # si coinciden vocales y consonantes imprimo
    if fila['vowels'] == fila['consonants']:
      print(fila)

word          diez
length           4
vowels           2
consonants       2
Name: 1, dtype: object
word          cicuta
length             6
vowels             3
consonants         3
Name: 4, dtype: object
word          fatiga
length             6
vowels             3
consonants         3
Name: 5, dtype: object
word          jadeos
length             6
vowels             3
consonants         3
Name: 7, dtype: object

## EJERCICIO 9

El siguiente DataFrame contiene informaci√≥n de los pisos en alquiler en Murcia a fecha de 31/12/2020:
```
fotocasa_df = pd.read_csv("https://drive.google.com/uc?export=view&id=1DwvALe87aeDzTk7s6xGPDd6itJ65s4YE", index_col = 0)
```
Muestra el n√∫mero de filas, columnas y valores que contiene el DataFrame cargado:

In [10]:
# Recojo fotocasa del csv
fotocasa_df = pd.read_csv("https://drive.google.com/uc?export=view&id=1DwvALe87aeDzTk7s6xGPDd6itJ65s4YE", index_col = 0)
# con shape recojo numero de filas y de columnas
num_filas = fotocasa_df.shape[0]
num_cols = fotocasa_df.shape[1]
# con size saco el n√∫mero de valores
num_val = fotocasa_df.size
print("El n√∫mero de filas de fotocasa_df es", num_filas)
print("El n√∫mero de columnas de fotocasa_df es", num_cols)
print("El n√∫mero de valores de fotocasa_df es", num_val)

El n√∫mero de filas de fotocasa_df es 617
El n√∫mero de columnas de fotocasa_df es 59
El n√∫mero de valores de fotocasa_df es 36403

## EJERCICIO 10

Recupera los cinco primeros pisos (filas)

In [11]:
# La funci√≥n head muestra los primeros valores, por defecto 5
print(fotocasa_df.head())

        Precio                                     T√≠tulo  \
0  A consultar                 Piso de alquiler en Centro
1   500 ‚Ç¨ /mes          Apartamento de alquiler en Centro
2   900 ‚Ç¨ /mes  Piso de alquiler en Doctor Mara√±√≥n Centro
3   750 ‚Ç¨ /mes                 Piso de alquiler en Centro
4   800 ‚Ç¨ /mes                 Piso de alquiler en Centro

                                         Descripci√≥n     Fotos  \
0  TRABAJADORES Y ESTUDIANTES ATENCION!!!! VIVIEN...  18 Fotos
1  Maravilloso apartamento para entrar a vivir en...  21 Fotos
2  Se alquila estupenda vivienda reci√©n reformada...  18 Fotos
3  Te presentamos este fabuloso apartamento situa...  30 Fotos
4  Fant√°stica vivienda en alquiler ubicada muy pr...  28 Fotos

               Direcci√≥n  Inmobiliaria                    Anunciante  \
0                 Centro          True      DPTO. COMERCIAL PISOSMUR
1                 Centro          True                BREXTOM MURCIA
2  Doctor Mara√±√≥n Centro          True  ABAD SERVICIOS INMOBILIARIOS
3                 Centro          True  ABAD SERVICIOS INMOBILIARIOS
4                 Centro          True                BREXTOM MURCIA

                        Habitaciones                              Ba√±os  \
0  <span><span>4</span> habs.</span>  <span><span>2</span> ba√±os</span>
1   <span><span>1</span> hab.</span>   <span><span>1</span> ba√±o</span>
2  <span><span>4</span> habs.</span>  <span><span>2</span> ba√±os</span>
3  <span><span>2</span> habs.</span>   <span><span>1</span> ba√±o</span>
4  <span><span>3</span> habs.</span>  <span><span>2</span> ba√±os</span>

                         Superficie  ... Serv. porter√≠a Internet  \
0  <span><span>110</span> m¬≤</span>  ...            NaN      NaN
1   <span><span>46</span> m¬≤</span>  ...            NaN      NaN
2  <span><span>169</span> m¬≤</span>  ...            NaN      NaN
3   <span><span>77</span> m¬≤</span>  ...            NaN      NaN
4  <span><span>104</span> m¬≤</span>  ...            NaN      NaN

  Suite - con ba√±o Patio Dom√≥tica Pista de Tenis Alarma Mascotas  \
0              NaN   NaN      NaN            NaN    NaN      NaN
1              NaN   NaN      NaN            NaN    NaN      NaN
2              NaN   NaN      NaN            NaN    NaN      NaN
3              NaN   NaN      NaN            NaN    NaN      NaN
4              NaN   NaN      NaN            NaN    NaN      NaN

  Energ√≠a Solar Gimnasio
0           NaN      NaN
1           NaN      NaN
2           NaN      NaN
3           NaN      NaN
4           NaN      NaN

[5 rows x 59 columns]

## EJERCICIO 11

Recupera los cinco √∫ltimos pisos:

In [12]:
# tail al reves, los √∫ltimos, por defecto 5 tambi√©n
print(fotocasa_df.tail())

    Precio                                             T√≠tulo Descripci√≥n  \
612    NaN  Alquiler piso en barrio dEl Carmen en El Carme...         NaN
613    NaN  Alquiler apartamento en plaza san nicolas en M...         NaN
614    NaN  Alquiler apartamento exclusivo apto plaza flor...         NaN
615    NaN  Alquiler piso alquiler de local entresuelo en ...         NaN
616    NaN  Alquiler piso en alquiler en edificio alba, sa...         NaN

    Fotos Direcci√≥n  Inmobiliaria Anunciante Habitaciones Ba√±os Superficie  \
612   NaN       NaN          True        NaN          NaN   NaN        NaN
613   NaN       NaN          True        NaN          NaN   NaN        NaN
614   NaN       NaN          True        NaN          NaN   NaN        NaN
615   NaN       NaN          True        NaN          NaN   NaN        NaN
616   NaN       NaN          True        NaN          NaN   NaN        NaN

     ... Serv. porter√≠a Internet Suite - con ba√±o Patio Dom√≥tica  \
612  ...            NaN      NaN              NaN   NaN      NaN
613  ...            NaN      NaN              NaN   NaN      NaN
614  ...            NaN      NaN              NaN   NaN      NaN
615  ...            NaN      NaN              NaN   NaN      NaN
616  ...            NaN      NaN              NaN   NaN      NaN

    Pista de Tenis Alarma Mascotas Energ√≠a Solar Gimnasio
612            NaN    NaN      NaN           NaN      NaN
613            NaN    NaN      NaN           NaN      NaN
614            NaN    NaN      NaN           NaN      NaN
615            NaN    NaN      NaN           NaN      NaN
616            NaN    NaN      NaN           NaN      NaN

[5 rows x 59 columns]

Muestra los campos Inmobiliaria y Tipo de inmueble de los tres √∫ltimos pisos:

In [12]:
# uso tail(3) para recoger los 3 ultimos, y de estos saco las columnas que me interesan
# itero sobre las filas y llamo a sus columnas por nombre
for i, fila in fotocasa_df.tail(3).iterrows():
    print(f"{fila['Inmobiliaria']} - {fila['Tipo de inmueble']}")

True - nan
True - nan
True - nan

## EJERCICIO 12

Las columnas Dom√≥tica, Pista de Tenis, Alarma, Mascotas, Energ√≠a Solar y Gimnasio no contienen apenas valores definidos. Elim√≠nalas del DataFrame y almacena el resultado en fotocasa1_df:

In [14]:
# llamo a drop por los nombres de las columnas, axis es para decirle si columna o fila 0 = filas 1  = columans
fotocasa1_df = fotocasa_df.drop(labels = ["Dom√≥tica", "Pista de Tenis","Alarma","Mascotas","Energ√≠a Solar","Gimnasio"], axis = 1)
fotocasa1_df

,Precio,T√≠tulo,Descripci√≥n,Fotos,Direcci√≥n,Inmobiliaria,Anunciante,Habitaciones,Ba√±os,Superficie,...,Z. Comunitaria,Piscina,TV,Zona Deportiva,Zona Infantil,Piscina comunitaria,Serv. porter√≠a,Internet,Suite - con ba√±o,Patio
0,A consultar,Piso de alquiler en Centro,TRABAJADORES Y ESTUDIANTES ATENCION!!!! VIVIEN...,18 Fotos,Centro,True,DPTO. COMERCIAL PISOSMUR,<span><span>4</span> habs.</span>,<span><span>2</span> ba√±os</span>,<span><span>110</span> m¬≤</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,500 ‚Ç¨ /mes,Apartamento de alquiler en Centro,Maravilloso apartamento para entrar a vivir en...,21 Fotos,Centro,True,BREXTOM MURCIA,<span><span>1</span> hab.</span>,<span><span>1</span> ba√±o</span>,<span><span>46</span> m¬≤</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,900 ‚Ç¨ /mes,Piso de alquiler en Doctor Mara√±√≥n Centro,Se alquila estupenda vivienda reci√©n reformada...,18 Fotos,Doctor Mara√±√≥n Centro,True,ABAD SERVICIOS INMOBILIARIOS,<span><span>4</span> habs.</span>,<span><span>2</span> ba√±os</span>,<span><span>169</span> m¬≤</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,750 ‚Ç¨ /mes,Piso de alquiler en Centro,Te presentamos este fabuloso apartamento situa...,30 Fotos,Centro,True,ABAD SERVICIOS INMOBILIARIOS,<span><span>2</span> habs.</span>,<span><span>1</span> ba√±o</span>,<span><span>77</span> m¬≤</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,800 ‚Ç¨ /mes,Piso de alquiler en Centro,Fant√°stica vivienda en alquiler ubicada muy pr...,28 Fotos,Centro,True,BREXTOM MURCIA,<span><span>3</span> habs.</span>,<span><span>2</span> ba√±os</span>,<span><span>104</span> m¬≤</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,NaN,Alquiler piso en barrio dEl Carmen en El Carme...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
613,NaN,Alquiler apartamento en plaza san nicolas en M...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
614,NaN,Alquiler apartamento exclusivo apto plaza flor...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,NaN,Alquiler piso alquiler de local entresuelo en ...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,NaN,"Alquiler piso en alquiler en edificio alba, sa...",NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## EJERCICIO 13

Renombra a continuaci√≥n la columna Tipo de inmueble de fotocasa1_df por Tipo. Asigna el resultado a la variable fotocasa2_df:

In [70]:
# funci√≥n rename para cambiar los nombres, cual por cual
fotocasa2_df = fotocasa1_df.rename(columns = {"Tipo de inmueble": "Tipo"}).copy()
print(fotocasa2_df.columns)

Index(['Precio', 'T√≠tulo', 'Descripci√≥n', 'Fotos', 'Direcci√≥n', 'Inmobiliaria',
       'Anunciante', 'Habitaciones', 'Ba√±os', 'Superficie', 'Tipo', 'Ascensor',
       'Amueblado', 'Dep√≥sito', 'Gastos de comunidad', 'Consumo energ√≠a',
       'Emisiones', 'Aire acondicionado', 'Armarios', 'Electrodom√©sticos',
       'Horno', 'Lavadora', 'Microondas', 'Nevera', 'Videoportero',
       'Puerta Blindada', 'Lavadero', 'Cocina Equipada', 'Enlace', 'Planta',
       'Antig√ºedad', 'Calefacci√≥n', 'Terraza', 'Balc√≥n', 'Orientaci√≥n',
       'Estado', 'Parking', 'Gres Cer√°mica', 'Cocina Office', 'Trastero',
       'Agua caliente', 'Jard√≠n Privado', 'Parquet', 'Z. Comunitaria',
       'Piscina', 'TV', 'Zona Deportiva', 'Zona Infantil',
       'Piscina comunitaria', 'Serv. porter√≠a', 'Internet', 'Suite - con ba√±o',
       'Patio'],
      dtype='object')

## EJERCICIO 14

Elimina del DataFrame aquellos pisos que no tienen Precio o que su Precio sea "A consultar". Asigna el resultado a la variable fotocasa4_df:

PISTA: para seleccionar los alquileres sin precio utiliza el m√©todo isnull(). Utiliza notnull() para seleccionar los alquileres con precio..

In [24]:
# en mi nuevo dataframe, incluyo los que no tengan precio a consultar, y no sea precio nulo
fotocasa4_df = fotocasa1_df[(fotocasa1_df['Precio'] != 'A consultar') & (fotocasa1_df['Precio'].notnull())]
print(fotocasa4_df)

         Precio                                             T√≠tulo  \
1    500 ‚Ç¨ /mes                  Apartamento de alquiler en Centro
2    900 ‚Ç¨ /mes          Piso de alquiler en Doctor Mara√±√≥n Centro
3    750 ‚Ç¨ /mes                         Piso de alquiler en Centro
4    800 ‚Ç¨ /mes                         Piso de alquiler en Centro
5    650 ‚Ç¨ /mes     √Åtico de alquiler en Calle √Ångel Guirao Centro
..          ...                                                ...
589  600 ‚Ç¨ /mes  Piso de alquiler en Calle Jorge Guill√©n Juan C...
590  800 ‚Ç¨ /mes          Piso de alquiler en Santa Mar√≠a de Gracia
591  800 ‚Ç¨ /mes          Piso de alquiler en Santa Mar√≠a de Gracia
593  800 ‚Ç¨ /mes          Piso de alquiler en Calle Joselito Centro
596  850 ‚Ç¨ /mes                         Piso de alquiler en Centro

                                           Descripci√≥n     Fotos  \
1    Maravilloso apartamento para entrar a vivir en...  21 Fotos
2    Se alquila estupenda vivienda reci√©n reformada...  18 Fotos
3    Te presentamos este fabuloso apartamento situa...  30 Fotos
4    Fant√°stica vivienda en alquiler ubicada muy pr...  28 Fotos
5    MAGNIFICA UBICACION ATICO JUNTO AL TEATRO ROME...   9 Fotos
..                                                 ...       ...
589  ATENCION ESTUDIANTES!!!! BARRIO DE VISTA ALEGR...  10 Fotos
590  ATENCI√ìN ESTUDIANTES VIVIENDA JUNTO A LA PLAZA...   9 Fotos
591  ATENCI√ìN ESTUDIANTES MAGNIFICO PISOS EN SANTA ...  11 Fotos
593  ATENCI√ìN ESTUDIANTES!!!!MAGNIFICA VIVIENDA JUN...  10 Fotos
596  ATENCI√ìN ESTUDIANTES, MAGNIFICA VIVIENDA EN CA...  10 Fotos

                             Direcci√≥n  Inmobiliaria  \
1                               Centro          True
2                Doctor Mara√±√≥n Centro          True
3                               Centro          True
4                               Centro          True
5            Calle √Ångel Guirao Centro          True
..                                 ...           ...
589  Calle Jorge Guill√©n Juan Carlos I          True
590              Santa Mar√≠a de Gracia          True
591              Santa Mar√≠a de Gracia          True
593              Calle Joselito Centro          True
596                             Centro          True

                       Anunciante                       Habitaciones  \
1                  BREXTOM MURCIA   <span><span>1</span> hab.</span>
2    ABAD SERVICIOS INMOBILIARIOS  <span><span>4</span> habs.</span>
3    ABAD SERVICIOS INMOBILIARIOS  <span><span>2</span> habs.</span>
4                  BREXTOM MURCIA  <span><span>3</span> habs.</span>
5        DPTO. COMERCIAL PISOSMUR  <span><span>2</span> habs.</span>
..                            ...                                ...
589      DPTO. COMERCIAL PISOSMUR  <span><span>3</span> habs.</span>
590      DPTO. COMERCIAL PISOSMUR  <span><span>4</span> habs.</span>
591      DPTO. COMERCIAL PISOSMUR  <span><span>4</span> habs.</span>
593      DPTO. COMERCIAL PISOSMUR  <span><span>4</span> habs.</span>
596      DPTO. COMERCIAL PISOSMUR  <span><span>4</span> habs.</span>

                                 Ba√±os                        Superficie  ...  \
1     <span><span>1</span> ba√±o</span>   <span><span>46</span> m¬≤</span>  ...
2    <span><span>2</span> ba√±os</span>  <span><span>169</span> m¬≤</span>  ...
3     <span><span>1</span> ba√±o</span>   <span><span>77</span> m¬≤</span>  ...
4    <span><span>2</span> ba√±os</span>  <span><span>104</span> m¬≤</span>  ...
5     <span><span>1</span> ba√±o</span>   <span><span>80</span> m¬≤</span>  ...
..                                 ...                               ...  ...
589  <span><span>2</span> ba√±os</span>   <span><span>80</span> m¬≤</span>  ...
590  <span><span>2</span> ba√±os</span>  <span><span>115</span> m¬≤</span>  ...
591  <span><span>2</span> ba√±os</span>  <span><span>130</span> m¬≤</span>  ...
593  <span><span>2</span> ba√±os</span>  <span><span>100</span> m¬≤</span>  ...
596  <span><span>2</span> ba√±os</span>                               NaN  ...

    Z. Comunitaria Piscina    TV Zona Deportiva Zona Infantil  \
1              NaN     NaN   NaN            NaN           NaN
2              NaN     NaN   NaN            NaN           NaN
3              NaN     NaN   NaN            NaN           NaN
4              NaN     NaN   NaN            NaN           NaN
5              NaN     NaN   NaN            NaN           NaN
..             ...     ...   ...            ...           ...
589            NaN     NaN   NaN            NaN           NaN
590            NaN     NaN   NaN            NaN           NaN
591            NaN     NaN   NaN            NaN           NaN
593            NaN     NaN   NaN            NaN           NaN
596            NaN     NaN  True            NaN           NaN

    Piscina comunitaria Serv. porter√≠a Internet Suite - con ba√±o Patio
1                   NaN            NaN      NaN              NaN   NaN
2                   NaN            NaN      NaN              NaN   NaN
3                   NaN            NaN      NaN              NaN   NaN
4                   NaN            NaN      NaN              NaN   NaN
5                   NaN            NaN      NaN              NaN   NaN
..                  ...            ...      ...              ...   ...
589                 NaN            NaN      NaN              NaN  True
590                 NaN            NaN      NaN              NaN   NaN
591                 NaN            NaN      NaN              NaN   NaN
593                 NaN            NaN      NaN              NaN   NaN
596                 NaN            NaN      NaN              NaN   NaN

[588 rows x 53 columns]

## EJERCICIO 15

Utiliza la funci√≥n astype para convertir las columnas Tipo, Orientaci√≥n, Estado y Parking a tipo categ√≥rico. Asigna los resultados a la variable fotocasa5_df y comprueba mediante el par√°metro dtype que el tipo asignado sea correcto:

In [30]:
# Convertir con astype le dices que columna y a que tipo quieres asignar, en este caso todos a categorico
fotocasa5_df = fotocasa2_df.astype({'Tipo': 'category', 'Orientaci√≥n': 'category', 'Estado': 'category', 'Parking': 'category'})
print(fotocasa5_df.dtypes)

Precio                   object
T√≠tulo                   object
Descripci√≥n              object
Fotos                    object
Direcci√≥n                object
Inmobiliaria               bool
Anunciante               object
Habitaciones             object
Ba√±os                    object
Superficie               object
Tipo                   category
Ascensor                 object
Amueblado                object
Dep√≥sito                 object
Gastos de comunidad      object
Consumo energ√≠a          object
Emisiones                object
Aire acondicionado       object
Armarios                 object
Electrodom√©sticos        object
Horno                    object
Lavadora                 object
Microondas               object
Nevera                   object
Videoportero             object
Puerta Blindada          object
Lavadero                 object
Cocina Equipada          object
Enlace                   object
Planta                   object
Antig√ºedad               object
Calefacci√≥n              object
Terraza                  object
Balc√≥n                   object
Orientaci√≥n            category
Estado                 category
Parking                category
Gres Cer√°mica            object
Cocina Office            object
Trastero                 object
Agua caliente            object
Jard√≠n Privado           object
Parquet                  object
Z. Comunitaria           object
Piscina                  object
TV                       object
Zona Deportiva           object
Zona Infantil            object
Piscina comunitaria      object
Serv. porter√≠a           object
Internet                 object
Suite - con ba√±o         object
Patio                    object
dtype: object

## EJERCICIO 16

Cargar el fichero situado en https://raw.githubusercontent.com/ainaramu-icjardin/big_data/main/ciudades_ejemplo.csv
como un dataframe Pandas, y guardarlo a continuaci√≥n en formato excel.

In [39]:

# Leo en un dataframe el csv
dataframe = pd.read_csv('../Recursos/ciudades_ejemplo.csv')
# paso el dataframe a excel :)
dataframe.to_excel('../Recursos/ciudades_en_excel.xlsx')

## EJERCICIO 17

Cargar el fichero "https://raw.githubusercontent.com/ainaramu-icjardin/big_data/main/parocomunidades.csv" que est√° con codificaci√≥n (encoding) "latin1" y dejarlo en un dataframe df_paro.

Mostrar solo las filas de `df_paro` que corresponden al Periodo 2019.

Mostrar solo las filas de df_paro que corresponden a un total mayor de 15.

Mostrar solo las filas que corresponden al Periodo 2019 y tienen Total mayor de 15.

In [54]:
df_paro = pd.read_csv('../Recursos/parocomunidades.csv', encoding="latin1")

# Las que son de 2019
print( df_paro[df_paro['Periodo'] == 2019])

# Las que tienen total > 15
print( df_paro[df_paro['Total'] > 15])

#Los que son del 2019 y con total > 15

print(df_paro[(df_paro['Periodo'] == 2019) & (df_paro['Total'] > 15)])

                Comunidad  Periodo  Total
0               Andaluc√≠a     2019  20.80
72               Canarias     2019  18.78
126  Castilla - La Mancha     2019  16.56
180           Extremadura     2019  23.48
234                Murcia     2019  16.08
306                 Ceuta     2019  27.58
324               Melilla     2019  26.81

## <ins>Ejercicios Opcionales </ins>

Son un mont√≥n üíÄüíÄüíÄ, si eso para despu√©s de hacer proyectos...  üòÖ

## EJERCICIO 18

Investiga el m√©todo .sort_values() para ordenar las observaciones seg√∫n la longitud de las palabras en orden descendente.

## EJERCICIO 19

Convierte la columna vowels a lista y, con sorted() ord√©nala de mayor a menor. Investiga para ello el m√©todo .tolist().

## EJERCICIO 20

Recupera aquellos pisos que ocupan una posici√≥n m√∫ltiplo de 100:

## EJERCICIO 21

Muestra el piso que se encuentra en la posici√≥n 7:

## EJERCICIO 22

Muestra el piso cuyo √≠ndice vale 9:

## EJERCICIO 23

Muestra el campo Direcci√≥n de los tres primeros pisos. Utiliza para ello tanto el operador ```[]``` como ```[[]]```. ¬øQu√© diferencia encuentras?

## EJERCICIO 24

Muestra los campos Inmobiliaria y Tipo de inmueble de los tres √∫ltimos pisos:

## EJERCICIO 25

Muestra el valor del DataFrame contenido en la posici√≥n (2,2):

## EJERCICIO 26

Muestra el valor del DataFrame cuyo √≠ndice es 2 y cuya columna es T√≠tulo:

## EJERCICIO 27

Muestra los tres primeros inmuebles de Tipo de inmueble = Apartamento:

## EJERCICIO 28

Muestra los dos primeros inmuebles de Tipo de inmueble = Piso y que no se alquilen por inmobiliaria (Inmobiliaria = False):

## EJERCICIO 29

Elimina del DataFrame contenido en fotocasa2_df los alquileres de la posici√≥n 597 y 598. Asigna el resultado a fotocasa3_df: