# LISTA 11 - PANDAS

## <ins>Ejercicios Obligatorios </ins>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

## EJERCICIO 1

Crea un dataframe con 15 filas y 2 columnas. La primera columna se llamará x, la segunda y. Cada entrada será un número aleatorio (puedes usar random.normal() de la librería numpy). Guarda el dataframe en una variable llamada points.

In [2]:
import random
x = []
y = []
for i in range (15):
    x.append(random.randint(-50, 50))
    y.append(random.randint(-50, 50))
data = {"x": x, "y": y}
points = pd.DataFrame(data = data)
print(points)

     x   y
0    1 -13
1   49  -5
2  -16  33
3   43  45
4  -20  23
5   14 -19
6  -16   8
7  -16 -11
8   41  24
9   19  48
10  46   7
11 -19  37
12  37 -39
13  45  20
14 -43  18

## EJERCICIO 2

Del dataframe points, muestra las filas cuyo valor en la columna x sea positivo.

In [3]:
for i in points['x']:
  if(i > 0):
    print (i)

1
49
43
14
41
19
46
37
45

## EJERCICIO 3

Del dataframe points, muestra las filas cuyo valor en la columna y sea negativo.

In [4]:
for i in points['y']:
  if(i < 0):
    print (i)

-13
-5
-19
-11
-39

## EJERCICIO 4

:Del dataframe points, muestra las observaciones cuyos puntos (x, y) pertenezcan al primer cuadrante.

In [5]:
primer_cuadrante = points[(points['x'] > 0) & (points['y'] > 0)]

print(primer_cuadrante)

     x   y
3   43  45
8   41  24
9   19  48
10  46   7
13  45  20

## EJERCICIO 5

Del dataframe points, muestra las observaciones de la forma: “El punto ({x}, {y}) {no/sí} pertenece al primer cuadrante”.

In [6]:
for index, row in points.iterrows():
    x, y = row['x'], row['y']
    if row['x'] > 0 and row['y'] > 0:
        message = f"El punto ({x}, {y}) sí pertenece al primer cuadrante."
    else:
        message = f"El punto ({x}, {y}) no pertenece al primer cuadrante."
    print(message)

El punto (1, -13) no pertenece al primer cuadrante.
El punto (49, -5) no pertenece al primer cuadrante.
El punto (-16, 33) no pertenece al primer cuadrante.
El punto (43, 45) sí pertenece al primer cuadrante.
El punto (-20, 23) no pertenece al primer cuadrante.
El punto (14, -19) no pertenece al primer cuadrante.
El punto (-16, 8) no pertenece al primer cuadrante.
El punto (-16, -11) no pertenece al primer cuadrante.
El punto (41, 24) sí pertenece al primer cuadrante.
El punto (19, 48) sí pertenece al primer cuadrante.
El punto (46, 7) sí pertenece al primer cuadrante.
El punto (-19, 37) no pertenece al primer cuadrante.
El punto (37, -39) no pertenece al primer cuadrante.
El punto (45, 20) sí pertenece al primer cuadrante.
El punto (-43, 18) no pertenece al primer cuadrante.

## EJERCICIO 6

Crea un dataframe con 10 filas y 4 columnas. La primera columna se llamará word; la segunda, length; la tercera, vowels; y la última, consonants. La columna words contendrá las siguientes 10 palabras: “euro”, “diez” “algas”, “broma”, “cicuta”, “fatiga”, “nachos”, “jadeos”, “hazañas”, “boutique”. Las columnas length, vowels y consonants contendrán, respectivamente, la longitud, el total de vocales y el total de consonantes (añade las columnas calculando su valor por código). Guarda el dataframe en la variable words.

In [7]:
words = ["euro", "diez", "algas", "broma", "cicuta", "fatiga", "nachos", "jadeos", "hazañas", "boutique"]

df = pd.DataFrame({
    'word': words,
    'length': [len(word) for word in words],
    'vowels': [sum(1 for char in word.lower() if char in 'aeiou') for word in words],
    'consonants': [len(word) - sum(1 for char in word.lower() if char in 'aeiou') for word in words]
})
print (df)

       word  length  vowels  consonants
0      euro       4       3           1
1      diez       4       2           2
2     algas       5       2           3
3     broma       5       2           3
4    cicuta       6       3           3
5    fatiga       6       3           3
6    nachos       6       2           4
7    jadeos       6       3           3
8   hazañas       7       3           4
9  boutique       8       5           3

## EJERCICIO 7

Muestra las 10 observaciones de words con el formato “La palabra {word} tiene {length} letras, de las cuales {vowels} son vocales y {consonants} consonantes”.

In [8]:



for column, row in df.iterrows():
    print(f"La palabra {row['word']} tiene {row['length']} letras, de las cuales {row['vowels']} son vocales y {row['consonants']} consonantes.")

La palabra euro tiene 4 letras, de las cuales 3 son vocales y 1 consonantes.
La palabra diez tiene 4 letras, de las cuales 2 son vocales y 2 consonantes.
La palabra algas tiene 5 letras, de las cuales 2 son vocales y 3 consonantes.
La palabra broma tiene 5 letras, de las cuales 2 son vocales y 3 consonantes.
La palabra cicuta tiene 6 letras, de las cuales 3 son vocales y 3 consonantes.
La palabra fatiga tiene 6 letras, de las cuales 3 son vocales y 3 consonantes.
La palabra nachos tiene 6 letras, de las cuales 2 son vocales y 4 consonantes.
La palabra jadeos tiene 6 letras, de las cuales 3 son vocales y 3 consonantes.
La palabra hazañas tiene 7 letras, de las cuales 3 son vocales y 4 consonantes.
La palabra boutique tiene 8 letras, de las cuales 5 son vocales y 3 consonantes.

## EJERCICIO 8

Muestra aquellas observaciones de words que tienen el mismo número de vocales y consonantes.

In [9]:

for index, row in df.iterrows():
    if row['vowels'] == row['consonants']:
      print(row)

word          diez
length           4
vowels           2
consonants       2
Name: 1, dtype: object
word          cicuta
length             6
vowels             3
consonants         3
Name: 4, dtype: object
word          fatiga
length             6
vowels             3
consonants         3
Name: 5, dtype: object
word          jadeos
length             6
vowels             3
consonants         3
Name: 7, dtype: object

## EJERCICIO 9

El siguiente DataFrame contiene información de los pisos en alquiler en Murcia a fecha de 31/12/2020:
```
fotocasa_df = pd.read_csv("https://drive.google.com/uc?export=view&id=1DwvALe87aeDzTk7s6xGPDd6itJ65s4YE", index_col = 0)
```
Muestra el número de filas, columnas y valores que contiene el DataFrame cargado:

In [10]:
fotocasa_df = pd.read_csv("https://drive.google.com/uc?export=view&id=1DwvALe87aeDzTk7s6xGPDd6itJ65s4YE", index_col = 0)
nrows = fotocasa_df.shape[0]
ncols = fotocasa_df.shape[1]
nval = fotocasa_df.size
print("El número de filas de fotocasa_df es", nrows)
print("El número de columnas de fotocasa_df es", ncols)
print("El número de valores de fotocasa_df es", nval)

El número de filas de fotocasa_df es 617
El número de columnas de fotocasa_df es 59
El número de valores de fotocasa_df es 36403

## EJERCICIO 10

Recupera los cinco primeros pisos (filas)

In [11]:
print(fotocasa_df.head())

        Precio                                     Título  \
0  A consultar                 Piso de alquiler en Centro
1   500 € /mes          Apartamento de alquiler en Centro
2   900 € /mes  Piso de alquiler en Doctor Marañón Centro
3   750 € /mes                 Piso de alquiler en Centro
4   800 € /mes                 Piso de alquiler en Centro

                                         Descripción     Fotos  \
0  TRABAJADORES Y ESTUDIANTES ATENCION!!!! VIVIEN...  18 Fotos
1  Maravilloso apartamento para entrar a vivir en...  21 Fotos
2  Se alquila estupenda vivienda recién reformada...  18 Fotos
3  Te presentamos este fabuloso apartamento situa...  30 Fotos
4  Fantástica vivienda en alquiler ubicada muy pr...  28 Fotos

               Dirección  Inmobiliaria                    Anunciante  \
0                 Centro          True      DPTO. COMERCIAL PISOSMUR
1                 Centro          True                BREXTOM MURCIA
2  Doctor Marañón Centro          True  ABAD SERVICIOS INMOBILIARIOS
3                 Centro          True  ABAD SERVICIOS INMOBILIARIOS
4                 Centro          True                BREXTOM MURCIA

                        Habitaciones                              Baños  \
0  <span><span>4</span> habs.</span>  <span><span>2</span> baños</span>
1   <span><span>1</span> hab.</span>   <span><span>1</span> baño</span>
2  <span><span>4</span> habs.</span>  <span><span>2</span> baños</span>
3  <span><span>2</span> habs.</span>   <span><span>1</span> baño</span>
4  <span><span>3</span> habs.</span>  <span><span>2</span> baños</span>

                         Superficie  ... Serv. portería Internet  \
0  <span><span>110</span> m²</span>  ...            NaN      NaN
1   <span><span>46</span> m²</span>  ...            NaN      NaN
2  <span><span>169</span> m²</span>  ...            NaN      NaN
3   <span><span>77</span> m²</span>  ...            NaN      NaN
4  <span><span>104</span> m²</span>  ...            NaN      NaN

  Suite - con baño Patio Domótica Pista de Tenis Alarma Mascotas  \
0              NaN   NaN      NaN            NaN    NaN      NaN
1              NaN   NaN      NaN            NaN    NaN      NaN
2              NaN   NaN      NaN            NaN    NaN      NaN
3              NaN   NaN      NaN            NaN    NaN      NaN
4              NaN   NaN      NaN            NaN    NaN      NaN

  Energía Solar Gimnasio
0           NaN      NaN
1           NaN      NaN
2           NaN      NaN
3           NaN      NaN
4           NaN      NaN

[5 rows x 59 columns]

## EJERCICIO 11

Recupera los cinco últimos pisos:

In [12]:
print(fotocasa_df.tail())

    Precio                                             Título Descripción  \
612    NaN  Alquiler piso en barrio dEl Carmen en El Carme...         NaN
613    NaN  Alquiler apartamento en plaza san nicolas en M...         NaN
614    NaN  Alquiler apartamento exclusivo apto plaza flor...         NaN
615    NaN  Alquiler piso alquiler de local entresuelo en ...         NaN
616    NaN  Alquiler piso en alquiler en edificio alba, sa...         NaN

    Fotos Dirección  Inmobiliaria Anunciante Habitaciones Baños Superficie  \
612   NaN       NaN          True        NaN          NaN   NaN        NaN
613   NaN       NaN          True        NaN          NaN   NaN        NaN
614   NaN       NaN          True        NaN          NaN   NaN        NaN
615   NaN       NaN          True        NaN          NaN   NaN        NaN
616   NaN       NaN          True        NaN          NaN   NaN        NaN

     ... Serv. portería Internet Suite - con baño Patio Domótica  \
612  ...            NaN      NaN              NaN   NaN      NaN
613  ...            NaN      NaN              NaN   NaN      NaN
614  ...            NaN      NaN              NaN   NaN      NaN
615  ...            NaN      NaN              NaN   NaN      NaN
616  ...            NaN      NaN              NaN   NaN      NaN

    Pista de Tenis Alarma Mascotas Energía Solar Gimnasio
612            NaN    NaN      NaN           NaN      NaN
613            NaN    NaN      NaN           NaN      NaN
614            NaN    NaN      NaN           NaN      NaN
615            NaN    NaN      NaN           NaN      NaN
616            NaN    NaN      NaN           NaN      NaN

[5 rows x 59 columns]

Muestra los campos Inmobiliaria y Tipo de inmueble de los tres últimos pisos:

In [13]:
print("Inmobiliaria ",fotocasa_df.tail(3)['Inmobiliaria'], " Tipo de inmueble ",fotocasa_df.tail(3)['Tipo de inmueble'])

Inmobiliaria  614    True
615    True
616    True
Name: Inmobiliaria, dtype: bool  Tipo de inmueble  614    NaN
615    NaN
616    NaN
Name: Tipo de inmueble, dtype: object

## EJERCICIO 12

Las columnas Domótica, Pista de Tenis, Alarma, Mascotas, Energía Solar y Gimnasio no contienen apenas valores definidos. Elimínalas del DataFrame y almacena el resultado en fotocasa1_df:

In [14]:
fotocasa1_df = fotocasa_df.drop(labels = ["Domótica", "Pista de Tenis","Alarma","Mascotas","Energía Solar","Gimnasio"], axis = 1)
fotocasa1_df

,Precio,Título,Descripción,Fotos,Dirección,Inmobiliaria,Anunciante,Habitaciones,Baños,Superficie,...,Z. Comunitaria,Piscina,TV,Zona Deportiva,Zona Infantil,Piscina comunitaria,Serv. portería,Internet,Suite - con baño,Patio
0,A consultar,Piso de alquiler en Centro,TRABAJADORES Y ESTUDIANTES ATENCION!!!! VIVIEN...,18 Fotos,Centro,True,DPTO. COMERCIAL PISOSMUR,<span><span>4</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>110</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,500 € /mes,Apartamento de alquiler en Centro,Maravilloso apartamento para entrar a vivir en...,21 Fotos,Centro,True,BREXTOM MURCIA,<span><span>1</span> hab.</span>,<span><span>1</span> baño</span>,<span><span>46</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,900 € /mes,Piso de alquiler en Doctor Marañón Centro,Se alquila estupenda vivienda recién reformada...,18 Fotos,Doctor Marañón Centro,True,ABAD SERVICIOS INMOBILIARIOS,<span><span>4</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>169</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,750 € /mes,Piso de alquiler en Centro,Te presentamos este fabuloso apartamento situa...,30 Fotos,Centro,True,ABAD SERVICIOS INMOBILIARIOS,<span><span>2</span> habs.</span>,<span><span>1</span> baño</span>,<span><span>77</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,800 € /mes,Piso de alquiler en Centro,Fantástica vivienda en alquiler ubicada muy pr...,28 Fotos,Centro,True,BREXTOM MURCIA,<span><span>3</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>104</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,NaN,Alquiler piso en barrio dEl Carmen en El Carme...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
613,NaN,Alquiler apartamento en plaza san nicolas en M...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
614,NaN,Alquiler apartamento exclusivo apto plaza flor...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,NaN,Alquiler piso alquiler de local entresuelo en ...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,NaN,"Alquiler piso en alquiler en edificio alba, sa...",NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## EJERCICIO 13

Renombra a continuación la columna Tipo de inmueble de fotocasa1_df por Tipo. Asigna el resultado a la variable fotocasa2_df:

In [70]:
fotocasa2_df = fotocasa1_df.rename(columns = {"Tipo de inmueble": "Tipo"}).copy()
print(fotocasa2_df.columns)

Index(['Precio', 'Título', 'Descripción', 'Fotos', 'Dirección', 'Inmobiliaria',
       'Anunciante', 'Habitaciones', 'Baños', 'Superficie', 'Tipo', 'Ascensor',
       'Amueblado', 'Depósito', 'Gastos de comunidad', 'Consumo energía',
       'Emisiones', 'Aire acondicionado', 'Armarios', 'Electrodomésticos',
       'Horno', 'Lavadora', 'Microondas', 'Nevera', 'Videoportero',
       'Puerta Blindada', 'Lavadero', 'Cocina Equipada', 'Enlace', 'Planta',
       'Antigüedad', 'Calefacción', 'Terraza', 'Balcón', 'Orientación',
       'Estado', 'Parking', 'Gres Cerámica', 'Cocina Office', 'Trastero',
       'Agua caliente', 'Jardín Privado', 'Parquet', 'Z. Comunitaria',
       'Piscina', 'TV', 'Zona Deportiva', 'Zona Infantil',
       'Piscina comunitaria', 'Serv. portería', 'Internet', 'Suite - con baño',
       'Patio'],
      dtype='object')

## EJERCICIO 14

Elimina del DataFrame aquellos pisos que no tienen Precio o que su Precio sea "A consultar". Asigna el resultado a la variable fotocasa4_df:

PISTA: para seleccionar los alquileres sin precio utiliza el método isnull(). Utiliza notnull() para seleccionar los alquileres con precio..

In [24]:

fotocasa4_df = fotocasa1_df[(fotocasa1_df['Precio'] != 'A consultar') & (fotocasa1_df['Precio'].notnull())]
print(fotocasa4_df)

         Precio                                             Título  \
1    500 € /mes                  Apartamento de alquiler en Centro
2    900 € /mes          Piso de alquiler en Doctor Marañón Centro
3    750 € /mes                         Piso de alquiler en Centro
4    800 € /mes                         Piso de alquiler en Centro
5    650 € /mes     Ático de alquiler en Calle Ángel Guirao Centro
..          ...                                                ...
589  600 € /mes  Piso de alquiler en Calle Jorge Guillén Juan C...
590  800 € /mes          Piso de alquiler en Santa María de Gracia
591  800 € /mes          Piso de alquiler en Santa María de Gracia
593  800 € /mes          Piso de alquiler en Calle Joselito Centro
596  850 € /mes                         Piso de alquiler en Centro

                                           Descripción     Fotos  \
1    Maravilloso apartamento para entrar a vivir en...  21 Fotos
2    Se alquila estupenda vivienda recién reformada...  18 Fotos
3    Te presentamos este fabuloso apartamento situa...  30 Fotos
4    Fantástica vivienda en alquiler ubicada muy pr...  28 Fotos
5    MAGNIFICA UBICACION ATICO JUNTO AL TEATRO ROME...   9 Fotos
..                                                 ...       ...
589  ATENCION ESTUDIANTES!!!! BARRIO DE VISTA ALEGR...  10 Fotos
590  ATENCIÓN ESTUDIANTES VIVIENDA JUNTO A LA PLAZA...   9 Fotos
591  ATENCIÓN ESTUDIANTES MAGNIFICO PISOS EN SANTA ...  11 Fotos
593  ATENCIÓN ESTUDIANTES!!!!MAGNIFICA VIVIENDA JUN...  10 Fotos
596  ATENCIÓN ESTUDIANTES, MAGNIFICA VIVIENDA EN CA...  10 Fotos

                             Dirección  Inmobiliaria  \
1                               Centro          True
2                Doctor Marañón Centro          True
3                               Centro          True
4                               Centro          True
5            Calle Ángel Guirao Centro          True
..                                 ...           ...
589  Calle Jorge Guillén Juan Carlos I          True
590              Santa María de Gracia          True
591              Santa María de Gracia          True
593              Calle Joselito Centro          True
596                             Centro          True

                       Anunciante                       Habitaciones  \
1                  BREXTOM MURCIA   <span><span>1</span> hab.</span>
2    ABAD SERVICIOS INMOBILIARIOS  <span><span>4</span> habs.</span>
3    ABAD SERVICIOS INMOBILIARIOS  <span><span>2</span> habs.</span>
4                  BREXTOM MURCIA  <span><span>3</span> habs.</span>
5        DPTO. COMERCIAL PISOSMUR  <span><span>2</span> habs.</span>
..                            ...                                ...
589      DPTO. COMERCIAL PISOSMUR  <span><span>3</span> habs.</span>
590      DPTO. COMERCIAL PISOSMUR  <span><span>4</span> habs.</span>
591      DPTO. COMERCIAL PISOSMUR  <span><span>4</span> habs.</span>
593      DPTO. COMERCIAL PISOSMUR  <span><span>4</span> habs.</span>
596      DPTO. COMERCIAL PISOSMUR  <span><span>4</span> habs.</span>

                                 Baños                        Superficie  ...  \
1     <span><span>1</span> baño</span>   <span><span>46</span> m²</span>  ...
2    <span><span>2</span> baños</span>  <span><span>169</span> m²</span>  ...
3     <span><span>1</span> baño</span>   <span><span>77</span> m²</span>  ...
4    <span><span>2</span> baños</span>  <span><span>104</span> m²</span>  ...
5     <span><span>1</span> baño</span>   <span><span>80</span> m²</span>  ...
..                                 ...                               ...  ...
589  <span><span>2</span> baños</span>   <span><span>80</span> m²</span>  ...
590  <span><span>2</span> baños</span>  <span><span>115</span> m²</span>  ...
591  <span><span>2</span> baños</span>  <span><span>130</span> m²</span>  ...
593  <span><span>2</span> baños</span>  <span><span>100</span> m²</span>  ...
596  <span><span>2</span> baños</span>                               NaN  ...

    Z. Comunitaria Piscina    TV Zona Deportiva Zona Infantil  \
1              NaN     NaN   NaN            NaN           NaN
2              NaN     NaN   NaN            NaN           NaN
3              NaN     NaN   NaN            NaN           NaN
4              NaN     NaN   NaN            NaN           NaN
5              NaN     NaN   NaN            NaN           NaN
..             ...     ...   ...            ...           ...
589            NaN     NaN   NaN            NaN           NaN
590            NaN     NaN   NaN            NaN           NaN
591            NaN     NaN   NaN            NaN           NaN
593            NaN     NaN   NaN            NaN           NaN
596            NaN     NaN  True            NaN           NaN

    Piscina comunitaria Serv. portería Internet Suite - con baño Patio
1                   NaN            NaN      NaN              NaN   NaN
2                   NaN            NaN      NaN              NaN   NaN
3                   NaN            NaN      NaN              NaN   NaN
4                   NaN            NaN      NaN              NaN   NaN
5                   NaN            NaN      NaN              NaN   NaN
..                  ...            ...      ...              ...   ...
589                 NaN            NaN      NaN              NaN  True
590                 NaN            NaN      NaN              NaN   NaN
591                 NaN            NaN      NaN              NaN   NaN
593                 NaN            NaN      NaN              NaN   NaN
596                 NaN            NaN      NaN              NaN   NaN

[588 rows x 53 columns]

## EJERCICIO 15

Utiliza la función astype para convertir las columnas Tipo, Orientación, Estado y Parking a tipo categórico. Asigna los resultados a la variable fotocasa5_df y comprueba mediante el parámetro dtype que el tipo asignado sea correcto:

In [30]:
fotocasa5_df = fotocasa2_df.astype({'Tipo': 'category', 'Orientación': 'category', 'Estado': 'category', 'Parking': 'category'})
print(fotocasa5_df.dtypes)

Precio                   object
Título                   object
Descripción              object
Fotos                    object
Dirección                object
Inmobiliaria               bool
Anunciante               object
Habitaciones             object
Baños                    object
Superficie               object
Tipo                   category
Ascensor                 object
Amueblado                object
Depósito                 object
Gastos de comunidad      object
Consumo energía          object
Emisiones                object
Aire acondicionado       object
Armarios                 object
Electrodomésticos        object
Horno                    object
Lavadora                 object
Microondas               object
Nevera                   object
Videoportero             object
Puerta Blindada          object
Lavadero                 object
Cocina Equipada          object
Enlace                   object
Planta                   object
Antigüedad               object
Calefacción              object
Terraza                  object
Balcón                   object
Orientación            category
Estado                 category
Parking                category
Gres Cerámica            object
Cocina Office            object
Trastero                 object
Agua caliente            object
Jardín Privado           object
Parquet                  object
Z. Comunitaria           object
Piscina                  object
TV                       object
Zona Deportiva           object
Zona Infantil            object
Piscina comunitaria      object
Serv. portería           object
Internet                 object
Suite - con baño         object
Patio                    object
dtype: object

## EJERCICIO 16

Cargar el fichero situado en https://raw.githubusercontent.com/ainaramu-icjardin/big_data/main/ciudades_ejemplo.csv
como un dataframe Pandas, y guardarlo a continuación en formato excel.

## EJERCICIO 17

Cargar el fichero "https://raw.githubusercontent.com/ainaramu-icjardin/big_data/main/parocomunidades.csv" que está con codificación (encoding) "latin1" y dejarlo en un dataframe df_paro.

Mostrar solo las filas de `df_paro` que corresponden al Periodo 2019.

Mostrar solo las filas de df_paro que corresponden a un total mayor de 15.

Mostrar solo las filas que corresponden al Periodo 2019 y tienen Total mayor de 15.

## <ins>Ejercicios Opcionales </ins>

## EJERCICIO 18

Investiga el método .sort_values() para ordenar las observaciones según la longitud de las palabras en orden descendente.

## EJERCICIO 19

Convierte la columna vowels a lista y, con sorted() ordénala de mayor a menor. Investiga para ello el método .tolist().

## EJERCICIO 20

Recupera aquellos pisos que ocupan una posición múltiplo de 100:

## EJERCICIO 21

Muestra el piso que se encuentra en la posición 7:

## EJERCICIO 22

Muestra el piso cuyo índice vale 9:

## EJERCICIO 23

Muestra el campo Dirección de los tres primeros pisos. Utiliza para ello tanto el operador ```[]``` como ```[[]]```. ¿Qué diferencia encuentras?

## EJERCICIO 24

Muestra los campos Inmobiliaria y Tipo de inmueble de los tres últimos pisos:

## EJERCICIO 25

Muestra el valor del DataFrame contenido en la posición (2,2):

## EJERCICIO 26

Muestra el valor del DataFrame cuyo índice es 2 y cuya columna es Título:

## EJERCICIO 27

Muestra los tres primeros inmuebles de Tipo de inmueble = Apartamento:

## EJERCICIO 28

Muestra los dos primeros inmuebles de Tipo de inmueble = Piso y que no se alquilen por inmobiliaria (Inmobiliaria = False):

## EJERCICIO 29

Elimina del DataFrame contenido en fotocasa2_df los alquileres de la posición 597 y 598. Asigna el resultado a fotocasa3_df: