# LISTA 11 - PANDAS

## <ins>Ejercicios Obligatorios </ins>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

## EJERCICIO 1

Crea un dataframe con 15 filas y 2 columnas. La primera columna se llamará x, la segunda y. Cada entrada será un número aleatorio (puedes usar random.normal() de la librería numpy). Guarda el dataframe en una variable llamada points.

In [14]:
import random
x = []
y = []
for i in range (15):
    x.append(random.randint(-50, 50))
    y.append(random.randint(-50, 50))
data = {"x": x, "y": y}
points = pd.DataFrame(data = data)
print(points)

     x   y
0    6   2
1   29  48
2  -16  33
3   44  19
4  -38  17
5   39  31
6   33  39
7   -1  17
8   49 -48
9  -48 -46
10  25  44
11  27  41
12  -8  -7
13 -11 -27
14   7 -16

## EJERCICIO 2

Del dataframe points, muestra las filas cuyo valor en la columna x sea positivo.

In [19]:
for i in points['x']:
  if(i > 0):
    print (i)

6
29
44
39
33
49
25
27
7

## EJERCICIO 3

Del dataframe points, muestra las filas cuyo valor en la columna y sea negativo.

In [20]:
for i in points['y']:
  if(i < 0):
    print (i)

-48
-46
-7
-27
-16

## EJERCICIO 4

:Del dataframe points, muestra las observaciones cuyos puntos (x, y) pertenezcan al primer cuadrante.

In [26]:
primer_cuadrante = points[(points['x'] > 0) & (points['y'] > 0)]

print(primer_cuadrante)

     x   y
0    6   2
1   29  48
3   44  19
5   39  31
6   33  39
10  25  44
11  27  41

## EJERCICIO 5

Del dataframe points, muestra las observaciones de la forma: “El punto ({x}, {y}) {no/sí} pertenece al primer cuadrante”.

In [33]:
for index, row in points.iterrows():
    x, y = row['x'], row['y']
    if row['x'] > 0 and row['y'] > 0:
        message = f"El punto ({x}, {y}) sí pertenece al primer cuadrante."
    else:
        message = f"El punto ({x}, {y}) no pertenece al primer cuadrante."
    print(message)

El punto (6, 2) sí pertenece al primer cuadrante.
El punto (29, 48) sí pertenece al primer cuadrante.
El punto (-16, 33) no pertenece al primer cuadrante.
El punto (44, 19) sí pertenece al primer cuadrante.
El punto (-38, 17) no pertenece al primer cuadrante.
El punto (39, 31) sí pertenece al primer cuadrante.
El punto (33, 39) sí pertenece al primer cuadrante.
El punto (-1, 17) no pertenece al primer cuadrante.
El punto (49, -48) no pertenece al primer cuadrante.
El punto (-48, -46) no pertenece al primer cuadrante.
El punto (25, 44) sí pertenece al primer cuadrante.
El punto (27, 41) sí pertenece al primer cuadrante.
El punto (-8, -7) no pertenece al primer cuadrante.
El punto (-11, -27) no pertenece al primer cuadrante.
El punto (7, -16) no pertenece al primer cuadrante.

## EJERCICIO 6

Crea un dataframe con 10 filas y 4 columnas. La primera columna se llamará word; la segunda, length; la tercera, vowels; y la última, consonants. La columna words contendrá las siguientes 10 palabras: “euro”, “diez” “algas”, “broma”, “cicuta”, “fatiga”, “nachos”, “jadeos”, “hazañas”, “boutique”. Las columnas length, vowels y consonants contendrán, respectivamente, la longitud, el total de vocales y el total de consonantes (añade las columnas calculando su valor por código). Guarda el dataframe en la variable words.

In [34]:
words = ["euro", "diez", "algas", "broma", "cicuta", "fatiga", "nachos", "jadeos", "hazañas", "boutique"]

df = pd.DataFrame({
    'word': words,
    'length': [len(word) for word in words],
    'vowels': [sum(1 for char in word.lower() if char in 'aeiou') for word in words],
    'consonants': [len(word) - sum(1 for char in word.lower() if char in 'aeiou') for word in words]
})
print (df)

       word  length  vowels  consonants
0      euro       4       3           1
1      diez       4       2           2
2     algas       5       2           3
3     broma       5       2           3
4    cicuta       6       3           3
5    fatiga       6       3           3
6    nachos       6       2           4
7    jadeos       6       3           3
8   hazañas       7       3           4
9  boutique       8       5           3

## EJERCICIO 7

Muestra las 10 observaciones de words con el formato “La palabra {word} tiene {length} letras, de las cuales {vowels} son vocales y {consonants} consonantes”.

In [50]:



for column, row in df.iterrows():
    print(f"La palabra {row['word']} tiene {row['length']} letras, de las cuales {row['vowels']} son vocales y {row['consonants']} consonantes.")

La palabra euro tiene 4 letras, de las cuales 3 son vocales y 1 consonantes.
La palabra diez tiene 4 letras, de las cuales 2 son vocales y 2 consonantes.
La palabra algas tiene 5 letras, de las cuales 2 son vocales y 3 consonantes.
La palabra broma tiene 5 letras, de las cuales 2 son vocales y 3 consonantes.
La palabra cicuta tiene 6 letras, de las cuales 3 son vocales y 3 consonantes.
La palabra fatiga tiene 6 letras, de las cuales 3 son vocales y 3 consonantes.
La palabra nachos tiene 6 letras, de las cuales 2 son vocales y 4 consonantes.
La palabra jadeos tiene 6 letras, de las cuales 3 son vocales y 3 consonantes.
La palabra hazañas tiene 7 letras, de las cuales 3 son vocales y 4 consonantes.
La palabra boutique tiene 8 letras, de las cuales 5 son vocales y 3 consonantes.

## EJERCICIO 8

Muestra aquellas observaciones de words que tienen el mismo número de vocales y consonantes.

In [56]:

for index, row in df.iterrows():
    if row['vowels'] == row['consonants']:
      print(row)

word          diez
length           4
vowels           2
consonants       2
Name: 1, dtype: object
word          cicuta
length             6
vowels             3
consonants         3
Name: 4, dtype: object
word          fatiga
length             6
vowels             3
consonants         3
Name: 5, dtype: object
word          jadeos
length             6
vowels             3
consonants         3
Name: 7, dtype: object

## EJERCICIO 9

El siguiente DataFrame contiene información de los pisos en alquiler en Murcia a fecha de 31/12/2020:
```
fotocasa_df = pd.read_csv("https://drive.google.com/uc?export=view&id=1DwvALe87aeDzTk7s6xGPDd6itJ65s4YE", index_col = 0)
```
Muestra el número de filas, columnas y valores que contiene el DataFrame cargado:

## EJERCICIO 10

Recupera los cinco primeros pisos (filas)

## EJERCICIO 11

Recupera los cinco últimos pisos:

Muestra los campos Inmobiliaria y Tipo de inmueble de los tres últimos pisos:

## EJERCICIO 12

Las columnas Domótica, Pista de Tenis, Alarma, Mascotas, Energía Solar y Gimnasio no contienen apenas valores definidos. Elimínalas del DataFrame y almacena el resultado en fotocasa1_df:

## EJERCICIO 13

Renombra a continuación la columna Tipo de inmueble de fotocasa1_df por Tipo. Asigna el resultado a la variable fotocasa2_df:

## EJERCICIO 14

Elimina del DataFrame aquellos pisos que no tienen Precio o que su Precio sea "A consultar". Asigna el resultado a la variable fotocasa4_df:

PISTA: para seleccionar los alquileres sin precio utiliza el método isnull(). Utiliza notnull() para seleccionar los alquileres con precio..

## EJERCICIO 15

Utiliza la función astype para convertir las columnas Tipo, Orientación, Estado y Parking a tipo categórico. Asigna los resultados a la variable fotocasa5_df y comprueba mediante el parámetro dtype que el tipo asignado sea correcto:

## EJERCICIO 16

Cargar el fichero situado en https://raw.githubusercontent.com/ainaramu-icjardin/big_data/main/ciudades_ejemplo.csv
como un dataframe Pandas, y guardarlo a continuación en formato excel.

## EJERCICIO 17

Cargar el fichero "https://raw.githubusercontent.com/ainaramu-icjardin/big_data/main/parocomunidades.csv" que está con codificación (encoding) "latin1" y dejarlo en un dataframe df_paro.

Mostrar solo las filas de `df_paro` que corresponden al Periodo 2019.

Mostrar solo las filas de df_paro que corresponden a un total mayor de 15.

Mostrar solo las filas que corresponden al Periodo 2019 y tienen Total mayor de 15.

## <ins>Ejercicios Opcionales </ins>

## EJERCICIO 18

Investiga el método .sort_values() para ordenar las observaciones según la longitud de las palabras en orden descendente.

## EJERCICIO 19

Convierte la columna vowels a lista y, con sorted() ordénala de mayor a menor. Investiga para ello el método .tolist().

## EJERCICIO 20

Recupera aquellos pisos que ocupan una posición múltiplo de 100:

## EJERCICIO 21

Muestra el piso que se encuentra en la posición 7:

## EJERCICIO 22

Muestra el piso cuyo índice vale 9:

## EJERCICIO 23

Muestra el campo Dirección de los tres primeros pisos. Utiliza para ello tanto el operador ```[]``` como ```[[]]```. ¿Qué diferencia encuentras?

## EJERCICIO 24

Muestra los campos Inmobiliaria y Tipo de inmueble de los tres últimos pisos:

## EJERCICIO 25

Muestra el valor del DataFrame contenido en la posición (2,2):

## EJERCICIO 26

Muestra el valor del DataFrame cuyo índice es 2 y cuya columna es Título:

## EJERCICIO 27

Muestra los tres primeros inmuebles de Tipo de inmueble = Apartamento:

## EJERCICIO 28

Muestra los dos primeros inmuebles de Tipo de inmueble = Piso y que no se alquilen por inmobiliaria (Inmobiliaria = False):

## EJERCICIO 29

Elimina del DataFrame contenido en fotocasa2_df los alquileres de la posición 597 y 598. Asigna el resultado a fotocasa3_df: